.login-page {
    margin: auto;
    padding: 30px;
    padding-bottom: 100px;
    background-image: url("https://i.pinimg.com/564x/3f/d9/48/3fd948ee6515d6d8a94acfbf6286b73e.jpg");
    background-image: url("https://i.pinimg.com/564x/86/39/92/863992dc2dff647598d679e12498273c.jpg");
    /* background-image: url("../../assets/shelai-01.png"); */

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;


}

.login-box {
    text-align: left;
    margin: auto;
    /* background-image: url("https://i.pinimg.com/564x/3a/e6/fc/3ae6fc78c0718a02d06ceab56227ca32.jpg"); */
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px 40px 40px 30px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.205);
    background-color: rgba(255, 255, 255, 0.671);
}

.login-box img {
    height: 100%;
    width: 400px;
    object-fit: cover;

}

.login-page .input-container {
    margin: 40px auto;
    padding: 20px;
    width: 270px;
    height: 360px;
    background-color: rgba(0, 0, 0, 0.267);
}

.login-page h4 {
    text-align: left;
    padding-bottom: 5px;
}

.input-container div {}

.login-page .input-container input {
    /* background-color: transparent; */
    border: none;
    margin: 5px auto;
    height: 1.7rem;
    border-bottom: 2px solid rgb(0, 125, 167);
    width: 90%;
    padding-left: 5px;
}

.btn-login {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.315);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    height: fit-content;
    border: none;
    width: 92.5%;
    &:hover{
        color: white;
        background-color: rgba(0, 0, 0, 0.685);
    }

}

.login-bottom {
    /* background-color: rgba(0, 0, 0, 0.185); */
    width: 90%;
    padding: 0px 10px 0px 0px;
    margin: auto;
    opacity: 90%;
    ul{
        display: flex;
    }
    li {
        font-size: 1.5rem;
        margin-left: 5px;
        margin-top: 3px;
    }
}

hr {
    margin: 2px;
}


@media (max-width: 600px) {

    .login-page {
        background-image: none;
        margin: 20px auto;
        padding: 0px;
    }

    .login-box {
        background-color: rebeccapurple;
        width: 380px;
        height: 460px;
        padding: 0px;
        margin: auto;
        box-shadow: none;
        background-color: transparent;
    }

    .login-page .input-container {
        height: fit-content;

    }

    .login-box img {
        display: none;
    }

    
}