.jeans-page{
    display: flex;
    /* background-color: whitesmoke; */
    .cards-container{
        display: grid;
        margin: auto;
        grid-template-columns: repeat(4, 1fr);
        /* justify-content: space-between; */
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
        grid-template-rows: repeat(1fr);
        gap: 1rem;
            
    }
}

/* @media (max-width: 1200px) {
 .jeans-page{
    .cards-container{
        display: grid;
        grid-template-columns: repeat(4. 1fr);
    }
 }   

} */
@media (max-width: 600px){
    .jeans-page{
        display: flex;
    
        .cards-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            gap: .1rem;
            margin: auto;
        }
    }
}